* {
  margin: 0px;
  padding: 0px;
}
.frame {
  background-color: black;
  width: 100%;
  height: 38px;
  opacity: 1;
}
.frame {
  font-family: Satoshi;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  text-align: center;
  padding-top: 10px;
}

.frame-1 {
  height: 80px;
  background-color: #ffffff;
}
.logo {
  width: 160px;
  height: 22px;
  font-family: Integral CF;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  leading-trim: CAP_HEIGHT;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding-left: 80px;
  padding-top: 2px;
  font-size: 32px;
  font-weight: 900;
}

.nav {
  width: 100%;
  height: 80px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e4e4e4;
}

.logo {
  font-size: 32px;
  font-weight: 900;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  font-weight: 500;
}

.search-box {
  background: #f2f2f2;
  width: 400px;
  height: 45px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: 10px;
}

.search-icon {
  font-size: 18px;
  opacity: 0.6;
}

.search-box input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 14px;
}

.icons {
  display: flex;
  gap: 20px;
  font-size: 22px;
  cursor: pointer;
}
.home {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #888;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  margin: 20px;
}

.breadcrumb a {
  color: #888;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.home .active {
  font-weight: bold;
  color: #333;
}
.img-hero {
}
.img-hero img {
  padding: 5px;
  display: block;
}

.img-hero {
  width: 90%;
  margin: auto;
  margin-top: 40px;

  display: flex;
  gap: 10px;
}
.img-hero h1 {
  padding: 30px;
  font-family: Integral CF;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.cont {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cont img {
  width: 120px;
  height: 150px;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid transparent;
}

.cont img.active {
  border: 2px solid black;
}
.main-image img {
  width: 550px;
  border-radius: 20px;
}
.text {
  display: flex;
}
.item {
  display: flex;
  flex-direction: column;
}
.item h1{
  padding-left: 0px;
}

.star h4 {
  width: 81px;
  height: 43px;
  font-family: Satoshi;
  font-weight: 700px;
  font-style: Bold;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.compare{
  text-decoration: line-through;
  padding-left: 10px;
  color: red;

}
.span h4 {
  display: inline;
  /* color: black; */
}
.star p {
  width: 590px;
  height: 33px;
  top: 380px;
  left: 750px;

  font-family: Satoshi;
  font-weight: 400px;
  font-style: Regular;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
}
.line-3 h3 {
  width: 590.0000000000023px;
height: 2px;
font-size: 20px;
background-color: black;
margin-top: 30PX;
}
.color{
  border: 2px;
  border-radius: 25px;
  background-color: green;
}
.image-1 img{
  margin-top: 35px;
}
.image-1 h3{
font-size: 20px;
}

.customCheckBoxHolder {
  margin: 5px;
  display: flex;
}

.customCheckBox {
  width: fit-content;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  padding: 2px 8px;
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 0px;
  color: rgba(0, 0, 0, 0.7);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 300ms;
  transition-property: color, background-color, box-shadow;
  display: flex;
  height: 32px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px 1px 1px 0px;
  outline: none;
  justify-content: center;
  min-width: 55px;
}

.customCheckBox:hover {
  background-color: #2c2c2c;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBox .inner {
  font-size: 18px;
  font-weight: 900;
  pointer-events: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 300ms;
  transition-property: transform;
  transform: translateY(0px);
}

.customCheckBox:hover .inner {
  transform: translateY(-2px);
}

.customCheckBoxWrapper:first-of-type .customCheckBox {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-right: 0px;
}

.customCheckBoxWrapper:last-of-type .customCheckBox {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 0px;
}

.customCheckBoxInput {
  display: none;
}

.customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox {
  background-color: #2d6737;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox .inner {
  transform: translateY(-2px);
}

.customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox:hover {
  background-color: #34723f;
  box-shadow: rgba(0, 0, 0, 0.26) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.15) 0px 3px 6px 2px;
}

.customCheckBoxWrapper .customCheckBox:hover .inner {
  transform: translateY(-2px);
}


.container {
  text-align: center;
  display: flex;
  height: 200px;
}

.toggle {
  margin: 4px;
  display: inline-block;
}

.toggle {
  box-shadow:
    inset 0 0 35px 5px rgba(0, 0, 0, 0.25),
    inset 0 2px 1px 1px rgba(255, 255, 255, 0.9),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background: #ccd0d4;
  position: relative;
  height: 60px;
  width: 60px;
}
.toggle:before {
  box-shadow: 0 0 17.5px 8.75px #fff;
  border-radius: 118.3px;
  background: #fff;
  position: absolute;
  margin-left: -50.4px;
  margin-top: -50.4px;
  opacity: 0.2;
  content: "";
  /* height: 100.8px; */
  /* width: 100.8px; */
  left: 50%;
  top: 50%;
}
.toggle .button {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(1px);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow:
    0 15px 25px -4px rgba(0, 0, 0, 0.5),
    inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2),
    0 -10px 15px -1px rgba(255, 255, 255, 0.6),
    inset 0 3px 4px -1px rgba(255, 255, 255, 0.2),
    inset 0 0 5px 1px rgba(255, 255, 255, 0.8),
    inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
  border-radius: 96.32px;
  position: absolute;
  background: #ccd0d4;
  margin-left: -48.16px;
  margin-top: -48.16px;
  display: block;
  height: 40px;
  width: 40px;
  left: 98%;
  top: 92%;
}
.toggle .label {
  transition: color 300ms ease-out;
  text-shadow:
    1px 1px 3px #ccd0d4,
    0 0 0 rgba(0, 0, 0, 0.8),
    1px 1px 4px #fff;
  /* line-height: 139px; */
  text-align: center;
  position: absolute;
  font-weight: 700;
  font-size: 42px;
  display: block;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  color: rgba(0, 0, 0, 0.4);
}
.toggle input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.toggle input:active ~ .button {
  box-shadow:
    0 15px 25px -4px rgba(0, 0, 0, 0.4),
    inset 0 -8px 30px 1px rgba(255, 255, 255, 0.9),
    0 -10px 15px -1px rgba(255, 255, 255, 0.6),
    inset 0 8px 25px 0 rgba(0, 0, 0, 0.4),
    inset 0 0 10px 1px rgba(255, 255, 255, 0.6);
}
.toggle input:active ~ .label {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.45);
}
.toggle input:checked ~ .button {
  box-shadow:
    0 15px 25px -4px rgba(0, 0, 0, 0.4),
    inset 0 -8px 25px -1px rgba(255, 255, 255, 0.9),
    0 -10px 15px -1px rgba(255, 255, 255, 0.6),
    inset 0 8px 20px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 5px 1px rgba(255, 255, 255, 0.6);
}
.toggle input:checked ~ .label {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.4);
}




/* From Uiverse.io by JaydipPrajapati1910 */ 
.button {
  --width: 150px;
  --height: 50px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #222;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  align-items: center;
  justify-items: center;
  display: flex;
  border-radius: 0.45em;
  font-family: "Arial";
  top: 10px;
  transition: background 0.3s;
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: #555;
  font-size: 0.9rem;
  color: #fff;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #555;
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  color: rgb(251, 251, 251);
  /* position: static; */
  position: relative;
  overflow: hidden;
  outline: none;
  top: 20px;
  cursor: pointer;
  border-radius: 50px;
  background-color: hsl(118, 94%, 32%);
  border: solid 4px hsl(0, 0%, 100%);
  font-family: inherit;
}
.button-wrapper,.text,.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0
}

.text,.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #222;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}



.proudect{
  gap: 20px;
  display: flex;
}
.hero{
  width: 30%;
}



/*  */

details> summary {
    list-style-type: none; /* This removes the default arrow */
    cursor: pointer;
    position: relative;
    margin-left: 24px;
}

/* From Uiverse.io by abrahamcalsin */ 
button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
}

button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #ffd401;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
  justify-content: center;
}

button span {
  text-align: center;
  /* position: relative; */
  text-decoration: none;
  width: 100%;
  justify-items: center;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

button:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.heading-1 {
  width: 403;
  height: 120px;
  padding-top: 80px;
  font-family: Integral CF;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.card {
  display: flex;
  margin-left: 40px;
}



.stay {
  width: 100%;
  height: 589px;
  top: 3781px;
  left: -1px;
  opacity: 1;
}

.hero {
  width: 100%;
  padding: 100px 0;
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  width: 80%;
  max-width: 800px;
}

.hero-content h1 {
  font-size: 65px;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -1px;
  margin-bottom: 20px;
}
.hero-content p {
  font-size: 15px;
  color: #555;
  width: 80%;
  margin: auto;
}

.stay {
  position: relative;
  top: 50px;
  /* width: 100svw; */
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border-radius: 30px;
  z-index: 2;


}

.stay h3 {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0%;
  width: 551px;
  height: 94px;
  color: white;
  margin-top: 20px;
  padding: 20px;
  flex-wrap: wrap;
}
.stay input {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 50px;
  justify-content: space-between;
}
.sub-footer{
justify-content: center;
}
.sub{
  background-color: white;
 display: flex;
  color: black;
}

.footer {
  background-color: #f0f0f0;
  position: relative;
  top: -80px;
  z-index: 1;
  height: 499px;
  display: flex;
}
.pera {
  width: 167px;
  height: 23px;
  top: 30px;
  font-weight: 700;
  font-style: Bold;
  font-size: 33.45px;
  /* line-height: 100%; */
  letter-spacing: 0%;
  vertical-align: middle;

  margin-top: 50px;

  padding: 120px 0px 30px  50px;
}
.man-3{
  width: 25%;
}
.footer p {
  width: 248px;
height: 66px;
font-family: Satoshi;
font-weight: 400px;
font-style: Regular;
font-size: 14px;
/* line-height: 22px; */
  /* margin-top: 20px; */
padding: 0px 40px ;
}
.footer img{
  margin: 20px;
  padding: 40px;
}
.footer h2{
  width: 167px;
  height: 23px;
  top: 30px;
  font-weight: 700;
  font-style: Bold;
  font-size: 33.45px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;

  margin-top: 20px;
  padding: 120px 50px;
}
.inner-fot{
      display: flex;
    padding-top: 120px;
    width: 75%;
}
.boxes{
  width: 18.75%;
  padding: 10px;
  margin-top: 50px;
  gap: 50%;
  width: 35%;
}
.boxes li{
list-style: none;
padding: 12px;
justify-content: center;
}
